<html>
<body>
    <div style="background: white" th:fragment="records" th:unless="${#lists.isEmpty(readings)}" id="readings-block" th:id="'readings-block-'+${param}">
        <table class="table table-hover table-condensed table-bordered text-center results bg-white" data-striped="true" data-sort-name="Vrijednost" data-sort-order="desc">
            <thead class="thead-inverse thead-dark">
                <tr>
                    <th style="width: 50%;" data-field="Vrijednost" data-sortable="true">Vrijednost</th>
                    <th style="width: 50%;" data-field="Vrijeme_mjerenja" data-sortable="true">Vrijeme mjerenja</th>               
                 </tr>
            </thead>
            <tbody>
                <th:block th:each="reading : ${readings}">
                    <tr>
                        <td th:text="${reading.value}">value</td>
                        <td th:text="${#dates.format(reading.timestamp, 'dd.MM.yyyy HH:mm')}">timestamp</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</body>
</html>